<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <!-- <add key="conStrName" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\\..\\..\\HPHelpCenter.accdb;Persist Security Info=True"/> -->
	<add key="conStrName" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=HPHelpCenter.accdb;Persist Security Info=True"/>
  </appSettings>
</configuration>